__pycache__/
*.py[cod]
.Python
build/
dist/
*.egg-info/
.env
.venv
venv/
.vscode/
.idea/
.DS_Store

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/crash.log
terraform/*.tfvars
